<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="/static/public/js/main.js" charset="utf-8"></script>
    <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- 2. Configure SystemJS -->

  </head>
  <!-- 3. Display the application -->
  <body ng-app="mainApp">
    <div ng-controller="askAppCtrl as asc">
        hi
    </div>
  </body>
</html>
